body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 300px;
    margin: 20px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.controlBtn,
.loopButton {
    padding: 10px 20px;
    cursor: pointer;
}

.volumeControl,
.progressBar,
.speedControl {
    width: 80px;
}

.timeDisplay {
    font-size: 0.8em;
}

#mediaPlayerWrapper {
    position: relative;
    width: 80%; /* 调整视频容器的宽度 */
    height: 240px; /* 固定视频的高度 */
    margin-bottom: 10px;
}

#mediaPlayerWrapper video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
